<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>타이틀</title>
    <h1>This is heading1 text.</h1>
        <h2>This is heading2 text.</h2>
        <h3>This is heading3 text.</h3>
        <p>This is a paragraph.</p>
        This is plain text.<br />
        <b>This is bold text.</b><br />
        <i>This is Italic text.</i><br />
        <s>This is strike text.</s><br />
        <ol>
            <li>the first orderd list</li>
            <li>the second orderd list</li>
            <li>the third orderd list</li>
        </ol>
        <ul>
            <li>unorderd list</li>
            <li>unorderd list</li>
            <li>unorderd list</li>
        </ul>
        <div class="myDiv">
             <h2>This is a heading in a div element</h2>
             <p>This is some text in a div element.</p>
        </div>
</head>
<body>

</body>
</html>